
<link rel="stylesheet" href="/fragments/additional/infoboard/global.css" />
<link rel="stylesheet" href="/fragments/additional/infoboard/infoboard.css" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
/>
<div class="infotable-container">
  <div class="first-time">
    <div class="div2">0:20:00</div>
  </div>
  <div class="main-board-into-frame">
    <div class="infoblock">
      <div class="count">
        <div class="div1">1</div>
      </div>
    </div>
  </div>
  <div class="second-time">
    <div class="div">10:00:00</div>
  </div>
</div>
