
<link rel="stylesheet" href="/fragments/additional/chat/css/global.css" />
<link rel="stylesheet" href="/fragments/additional/chat/css/chat.css" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
/>
<div class="chat-container">
  <div class="opened-chat-header">
    <div class="chat-header-wrapper">
      <img
        class="chatbubbles-logo-icon"
        alt=""
        src="/fragments/additional/chat/img/chatbubbles-logo.svg"
      />
      <div class="chat">CHAT</div>
    </div>
  </div>
  <div
    class="messages"
    id="messages-form">
    <div th:fragment="dialogFragment" th:each="messages: ${dialog}"></div>
  </div>
  <div class="chat-input-container">
    <input
            class="chat-input"
            id="chat-input"
            placeholder="Enter your text...">
    </input>
    <img
      class="chat-send-button-icon"
      id="chat-send-button"
      alt=""
      src="/fragments/additional/chat/img/chatsendbutton.svg"
    />
  </div>
</div>
<script src="/fragments/additional/chat/js/socket-handler.js"></script>
