<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/header/css/styleguide.css" />
    <link rel="stylesheet" href="/header/css/style.css" />
</head>
<body>
<div class="objects-list">
    <div class="labels">
        <div class="div-wrapper"><div class="text-wrapper">ПРОЕКТЫ</div></div>
        <div class="div-wrapper"><div class="text-wrapper">СТАТЬИ</div></div>
        <div class="search-button">
            <img class="search-logo" src="/header/img/search-logo.svg"  alt=""/>
            <div class="div">ПОИСК</div>
        </div>
    </div>
    <div class="right-side">
        <div class="favorites"><div class="text-wrapper-2">ИЗБРАННОЕ</div></div>
        <img class="settings-logo" src="/header/img/settings-logo.svg"  alt=""/>
        <div class="authorization"><div class="text-wrapper-3">ВОЙТИ</div></div>
    </div>
</div>
</body>
</html>