
<link type="text/css" rel="stylesheet" href="/fragments/mandatory/header/css/header.css"/>
<link type="text/css" rel="stylesheet" href="/fragments/mandatory/header/css/global.css"/>
<link
  type="text/css"
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@700;800&display=swap"
/>
<div class="header">
  <div class="header-list">
    <img class="logo-icon" alt="" src="/fragments/mandatory/header/img/logo.svg" />

    <div class="objects">
      <div class="labels">
        <div class="projects-button">
          <b class="b">ПРОЕКТЫ</b>
        </div>
        <div class="projects-button">
          <b class="b">СТАТЬИ</b>
        </div>
        <div class="search-button">
          <img
            class="search-logo-icon"
            alt=""
            src="/fragments/mandatory/header/img/search-logo.svg"
          />

          <b class="b2">ПОИСК</b>
        </div>
      </div>
      <div class="right-side">
        <div class="favorites">
          <b class="b3">ИЗБРАННОЕ</b>
        </div>
        <div class="settings-logo">
          <img class="logo-icon1" alt="" src="/fragments/mandatory/header/img/logo1.svg" />
        </div>
        <div class="authorization-container" id="authorizationContainer">
          <div class="authorization">
            <b class="b4">ВОЙТИ</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="loginFormContainer" class="popup-overlay" style="display: none" th:insert="~{/fragments/mandatory/header/loginForm}"></div>
<div id="registrationFormContainer" class="popup-overlay" style="display: none" th:insert="~{/fragments/mandatory/header/resgistrationForm}"></div>
<script src="/fragments/mandatory/header/js/header-script.js"></script>