<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link type="text/css" rel="stylesheet" th:href="@{/inserts/global/header/css/global.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/inserts/global/header/css/loginForm.css}" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@700;800&display=swap"
    />
  </head>
  <body>
    <div class="login-form">
      <div class="container">
        <div class="text-wrapper">
          <b class="b5">Войти в аккаунт</b>
        </div>
        <div class="interactions">
          <div class="login-form-input">
            <div class="password"></div>
            <div class="password"></div>
          </div>
          <div class="login-form-buttons">
            <div class="login-button">
              <b class="b6">ВОЙТИ</b>
            </div>
            <div class="login-form-registration-button">
              <div class="href">
                <div class="game-timer">Зарегистрироваться</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
