<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess</title>
    <dependencies th:insert="~{/inserts/websocket-depends}"></dependencies>
</head>
<body>
    <div th:insert="~{/header}"></div>
    <div class="chess-container">
        <div class="board" id="board" style="width: 500px"></div>

        <div th:insert="~{/inserts/chat-form}"></div>
    </div>
    <link type="text/css" rel="stylesheet" th:href="@{/chessgame/board/css/chessboard-1.0.0.min.css}" href="/chessgame/board/css/chessboard-1.0.0.min.css">
    <script type="text/javascript" th:src="@{/chessgame/board/js/chessboard-1.0.0.min.js}" ></script>
    <script type="text/javascript" th:src="@{/chessgame/board/Board.js}"></script>
    <script type="text/css" th:src="@{/chessgame/css/styles.css}"></script>
</body>
</html>