:root {
    --header-text-font-family: "InknutAntiqua-Bold", Helvetica;
    --header-text-font-weight: 700;
    --header-text-font-size: 12px;
    --header-text-letter-spacing: 0px;
    --header-text-line-height: normal;
    --header-text-font-style: normal;
    --variable-collection-icon-color: rgba(0, 0, 0, 1);
    --variable-collection-auth-button: rgba(53, 127, 169, 1);
    --variable-collection-header-ground: rgba(142, 136, 75, 1);
    --variable-collection-header-button: rgba(82, 82, 82, 1);
    --variable-collection-header-text: rgba(255, 255, 255, 1);
    --variable-collection-search-block: rgba(207, 207, 207, 1);
    --variable-collection-search: rgba(0, 0, 0, 1);
}
